* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* outline: 1px solid lime; */
}
:root {
  --fondo: rgba(19,20,25,1);
  --texto: rgba(255,255,255,1);
  --texto-2: rgba(240,0,46,1);
  --texto-3: rgba(227,181,5,1);

}
/* nav ------------------------------ */
nav header {
  background-color: var(--fondo);
  color: var(--texto);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: var(--texto);
  text-transform: uppercase;
}
nav i {
  font-size: 2em !important;
  cursor: pointer;
}
nav footer {
  position: absolute;
  width: 100%;
  background-color: var(--fondo);
  color: var(--texto);
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
nav footer a {
  padding: 20px;
  
}
.visibility-visible {
  visibility: visible;
  opacity: 1;
}
/* nav ------------------------------ */
/* main------------------------------ */
main {
  height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}
main p {
  display: flex;
  flex-direction: column;
}
main p :nth-child(1){
  font-size: 1em;
  text-transform: uppercase;
  font-weight: normal;
}
main span {
  padding-bottom: 20px;
  font-size: 3em;
  text-align: center;
  line-height: 150%;
  font-weight: bold;
}
main button {
  padding: 10px;
  background-color: var(--fondo);
  color: var(--texto);
  border: 2px solid transparent;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
}
main button:hover {
  background-color: var(--texto);
  color: var(--fondo);
  border: 2px solid var(--fondo);
}
/* main------------------------------ */

/* hr------------------------------- */
hr {
  color: var(--texto);
  width: calc(100% - 40px);
  margin: auto;
}
/* hr------------------------------- */

/* h-------------------------------- */
h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  color: var(--texto-3);
}
h3 {
  color: var(--texto-2);
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}
/* h-------------------------------- */

/* Section-------------------------- */
section {
  background-color: var(--fondo);
  color: var(--texto);
}
/* Section-------------------------- */

/* Services ------------------------ */
#services article {
  display: flex;
  flex-direction: column;
}
#services article i {
  font-size: 4em !important;
  padding: 40px;
  text-align: center;
  color: var(--texto-2);
}
#services article p {
  padding: 20px;
  text-align: center;
}
#services article a {
  text-align: center;
}
#services article a i {
  color: var(--texto);
}
/* Services ------------------------ */

/* portfolio------------------------ */
#portfolio figure {
  padding: 20px;
  height: 100vh;
  /* width: ; */
  /* background-color: lime; */
}
#portfolio img {
  /* margin: auto; */
  object-fit: cover;
  max-width: 100%;
  height: 70%;
  padding-bottom: 20px;
  /* margin: auto; */
}
#portfolio figcaption {
  display: flex;
  flex-direction: column;
}
#portfolio figcaption :nth-child(1) {
  font-size: 1em;
  padding-bottom: 20px;
  text-align: center;

}
#portfolio figcaption span {
  font-size: 1.5em;
}
/* portfolio------------------------ */

/* team ---------------------------- */
#team figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 20px 0 20px;
}
#team img {
  max-width: 300px;
  max-height: 400px;
  object-fit: cover;
  padding-bottom: 20px;
}
#team p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#team p :nth-child(1) {
  font-weight: 500;
}
#team p :nth-child(2) {
  font-weight: 300;
}
#team span {
  font-size: 1.5em;
  padding-bottom: 20px;
}
#team a {
  text-decoration: none;
  color: var(--texto);
  padding: 0 10px 0px 10px;
}
/* team ---------------------------- */


